.zeit {
    margin-right: 4px;
    border-radius: 5px;

}

.clock {
    &-uhrzeit {
        &::before {
            content: var(--timer-uhrzeit);
        }
    }
    &-startzeit {
        &::before {
            content: var(--timer-startzeit);
        }
    }
    &-dauer {
        &::before {
            content: var(--timer-dauer);
        }
    }
    &-stoppzeit {
        &::before {
            content: var(--timer-stoppzeit);
        }
    }
    &-cntdwn {
        background-color: var(--cntdwn-bg);
        &::before {
            content: var(--timer-cntdwn);
        }
    }
    &-day {
      &:before {
        content: var(--timer-day);
      }
    }
    &-hours {
      &:before {
        content: var(--timer-hours);
      }
    }
    &-minutes {
      &:before {
        content: var(--timer-minutes);
      }
    }
    &-seconds {
      &:before {
        content: var(--timer-seconds);
      }
    }
  }
  
  .clock-container {
    //background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
    font-family: 'Montserrat', 'sans-serif';
    //min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clock {
    &-container {
      //margin-top: 30px;
      //margin-bottom: 30px;
      //background-color:white;
      border-radius: 5px;
      padding: 0px;
      margin-right: 4px;
      //box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
      display: flex;
    }
    &-col {
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      //min-width: 90px;
      position: relative;
      &:not(:last-child):before,
      &:not(:last-child):after{
        content: "";
        background-color: rgba(255,255,255,.3);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: -42px;
      }
      &:not(:last-child):before {
        top: 35%;
      }
      &:not(:last-child):after {
        top: 50%;
      }
    }
    &-timer {
      &:before {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
    &-label {
      color: rgb(240, 238, 238);
      text-transform: uppercase;
      font-size: .6rem;
      //margin-top: 3px;
    }
  }
  
  @media (max-width: 825px) {
    .clock-container {
    flex-direction: column;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .clock-col {
      & + & {
        margin-top: 20px;
      }
      &:before,
      &:after {
        display: none!important;
      }
    }
  }